<h1><%= current_worker.email %>'s claimed jobs:</h1>

<ul>
<% current_worker.jobs.each do |job| %>
<div id="job_link_<%=job.id%>">
<li><%= link_to job.title, job_path(job) %></li>
<p> <%= job.description %> </p>
<% if job.pending %>
<p>This job is: pending</p>
<% elsif job.active %>
<p>This job is: active</p>
<% else job.completed%>
<p>This job is: complete</p>
<% end %>
<% if job.pending %>
<%= link_to "Make this job active", job_path(job, mode: 'active'), :method => 'patch', remote: true  %>
<% end %>
<% end %>
</div>
</ul>

<div id="active_jobs">
  <h4>Active Jobs:</h4>
  <% current_worker.jobs.each do |job| %>
  <% if job.active %>
  <p><%= job.title %></p>
  <p><%= job.description %></p>
  <% end %>
  <% end %>
</div>
